<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.project_jian"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.projects.project_jian.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.projects.project_jian.JianGameActivity"
            android:label="@string/title_activity_jian_game" >
        </activity>
        <activity
            android:name="com.projects.project_jian.ExtrasMenuActivity"
            android:label="@string/title_activity_extras_menu" >
        </activity>
        <activity
            android:name="com.projects.project_jian.OptionsMenuActivity"
            android:label="@string/title_activity_options_menu" >
        </activity>
    </application>

</manifest>